p {
  font-size: 30px;
  color: white;
  font-family: "Marcellus", serif;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 1425px;
  height: 750px;
}

button {
  margin-top: 25px;
  font-size: 30px;
  cursor: pointer;
  width: 250px;
  height: 45px;
  background-color: #3a4b9a;
}

a:visited {
  color: white;
}
